.brand > div:first-child {
  font-weight: 700;
}

.brand .muted {
  font-size: 12px;
}

.socials a {
  text-decoration: none;
}

nav.header {
  color: white;
}

.theme-toggle {
  cursor: pointer;
  user-select: none;
}
