.intro-grid {
  margin-top: 18px;
}

#featured-project {
  margin-top: 18px;
  display: block;
}

.featured-project-description {
  margin: 6px 0 0 0;
}

.profile {
  animation-delay: 0.1s;
}

.profile-name {
  font-weight: 700;
}
